/* 
1. Posicionamiento
2. Modelo de caja (box model) (margin, padding, size, etc)
3. Tipografía
4. Visuales
5. Misc 
*/

:root {
  /* colors */
  --bitcoin-orange: #f7931a;
  --soft-orange: #ffe9d5;
  --secondary-blue: #1a9af7;
  --soft-blue: #e7f5ff;
  --warm-black: #201e1c;
  --warm-black-plus-one: #282623;
  --grey: #bababa;
  --medium-grey: #808080;
  --dark-grey: #757575;
  --off-white: #faf8f7;
  --just-white: #ffffff;
  /* fonts */
  --dm-sans: "DM Sans", sans-serif;
  --inter: "Inter", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: var(--dm-sans);
}

main {
  /* Modelo de caja */
  width: 100%;
  min-width: 320px;
  height: auto; /* El contenido será el que le de la altura */
  /* Tipografía */
  text-align: center;
  /* Visuales */
  background-color: var(--off-white);
}
