.main-meet {
  /* Modelo de caja */
  width: 100%;
  height: 387px;
  padding-top: 64px;
  /* Visuales */
  background-image: url("../../images/bitcoinbaby.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.main-meet h2 {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 2.6px;
  color: var(--just-white);
}
